<ion-header>

  <ion-navbar>
    <ion-title>Select Product</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Abbrechen</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Kategorie</ion-label>
      <ion-select [(ngModel)]="cat" (ngModelChange)="prodService.filterByCategory($event)">
        <ion-option *ngFor="let cat of prodService.categories | async">{{cat.Name}}</ion-option>
      </ion-select>
    </ion-item>
    <div *ngIf="prodService.items$ | async; let items;">
      <ion-item *ngFor="let item of items">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="item.payload.val().Url">
          </ion-avatar>
          <h2>{{item.payload.val().Name}}</h2>
          <code>{{ item.payload.key }}</code>
        </ion-item>
      </ion-item>
      <div *ngIf="items.length === 0">No results, try clearing filters</div>
    </div>
  </ion-list>
</ion-content>