<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Motion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{supported}}</p>
  <p>Acceleration</p>
  <p>X: {{xacc}}</p>
  <p>Y: {{yacc}}</p>
  <p>Z: {{zacc}}</p>
  <p>Acceleration Including Gravity</p>
  <p>X: {{xg}}</p>
  <p>Y: {{yg}}</p>
  <p>Z: {{zg}}</p>
  <p>RotationRate</p>
  <p>Alpha: {{alpha}}</p>
  <p>Beta: {{beta}}</p>
  <p>Gamma: {{gamma}}</p>
</ion-content>