<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Über</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <div *ngIf="layoutService.data | async as data else loading">Screen Width: {{data.width}} Height: {{data.height}}</div>
    </ion-card-content>
  </ion-card>

  <ng-template #loading>
    <div>Loading ...</div>
  </ng-template>

  <ion-card>
    <ion-card-title>
      Orientation:
    </ion-card-title>
    <ion-card-content>
      <ion-chip [color]="layoutService.isLandscape() ? 'secondary' : 'default'">
        <ion-label>Landscape</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPortrait() ? 'secondary' : 'default'">
        <ion-label>Portrait</ion-label>
      </ion-chip>
      <ion-card-title>
        Platform:
      </ion-card-title>
      <ion-chip [color]="layoutService.isPlatform('android') ? 'secondary' : 'default'">
        <ion-label>Android</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('cordova') ? 'secondary' : 'default'">
        <ion-label>Cordova</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('ios') ? 'secondary' : 'default'">
        <ion-label>IOS</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('ipad') ? 'secondary' : 'default'">
        <ion-label>iPad</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('iphone') ? 'secondary' : 'default'">
        <ion-label>iPhone</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('mobile') ? 'secondary' : 'default'">
        <ion-label>Mobile</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('phablet') ? 'secondary' : 'default'">
        <ion-label>Phablet</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('tablet') ? 'secondary' : 'default'">
        <ion-label>Tablet</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('capacitor') ? 'secondary' : 'default'">
        <ion-label>Capacitor</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('electron') ? 'secondary' : 'default'">
        <ion-label>Electron</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('pwa') ? 'secondary' : 'default'">
        <ion-label>PWA</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('desktop') ? 'secondary' : 'default'">
        <ion-label>Desktop</ion-label>
      </ion-chip>
      <ion-chip [color]="layoutService.isPlatform('hybrid') ? 'secondary' : 'default'">
        <ion-label>Hybrid</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>
      Credits:
    </ion-card-title>
    <ion-card-content>
      <p>
        Baan Package Version: {{versionGen.version}}
      </p>
      <p>
        Baan Version Tag: {{versionGen.semver}}
      </p>
      <p>
        Built with Angular {{version}}
      </p>
      <p>
        Image: Baan-{{buildInfo}}
      </p>
      <p>
        Backend Build Info: Baan.Backend-{{backendbuildinfo}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>