<ion-header>
  <ion-navbar>
    <ion-title>Audio Tracks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="ytService.audiotracks | async; let items;">
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item?.metaData?.thumbnailStandardRes">
      </ion-thumbnail>
      <h2>{{item?.metaData?.title}}</h2>
      <p>{{ item?.metaData?.uploadDate | date:'dd.MM.yyyy'}} {{ item?.metaData?.duration }}</p>
      <button ion-button clear item-end (click)="viewVideo(item?.url, item?.metaData?.title)">View</button>
      <div *ngIf="!item.metaData">
        <p>{{item?.message}}</p>
        <p>{{ item?.downloadFile }}</p>
      </div>
    </ion-item>
    <div *ngIf="items.length === 0">Kein Suchresultat</div>
  </ion-list>
</ion-content>