<ion-header>
</ion-header>
<ion-content padding class="background">
  <ion-card>
    <ion-card-header>
      <h2>Baan - unsere Einkaufsliste</h2>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Anmelden
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-button color="primary" full (click)="signInAnonymously()">
          &nbsp;&nbsp; Login Anonymously
        </ion-button>
        <ion-button color="primary" full (click)="signInWithFacebook()">
          <ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp; Login mit Facebook
        </ion-button>
        <ion-button color="primary" full (click)="signInWithTwitter()">
          <ion-icon name="logo-twitter"></ion-icon>&nbsp;&nbsp; Login mit Twitter
        </ion-button>
        <ion-button color="primary" full (click)="signInWithGoogle()">
          <ion-icon name="logo-google"></ion-icon>&nbsp;&nbsp; Login mit Google
        </ion-button>
      </ion-row>
      <form (ngSubmit)="login()" #registerForm="ngForm">
        <ion-row>
          <ion-col>
            <ion-list inset>

              <ion-item>
                <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"
                  required></ion-input>
              </ion-item>

              <ion-item>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"
                  required></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="signup-col">
            <ion-button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Anmelden</ion-button>
            <ion-button ion-button class="register-btn" block clear (click)="createAccount()">Neues Konto erstellen</ion-button>
          </ion-col>
        </ion-row>
      </form>

      <p (click)="help()">Passwort vergessen?
        <a href="#">Hilfe</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>