<ion-header>
  <ion-toolbar>
    <ion-title>Audio Tracks</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="ytService.audiotracks | async; let items;" lines="inset">
    <ion-item *ngFor="let item of items" style="margin-bottom: 6px;" class="item-gradient">
      <ion-thumbnail slot="start">
        <img [src]="item?.metaData?.thumbnailStandardRes">
      </ion-thumbnail>
      <ion-text color="primary">
        <h4>{{item?.metaData?.title}}</h4>
        <p class="tinytext">{{ item?.metaData?.uploadDate | date:'dd.MM.yyyy'}} {{ item?.metaData?.duration }}</p>
      </ion-text>
      <div *ngIf="item.url" slot="end">
        <ion-button (click)="viewVideo(item?.url, item?.metaData?.title)">View</ion-button>
      </div>
      <ion-button slot="end" (click)="viewDetails(item)">Details</ion-button>
      <ion-button slot="end" (click)="deleteSong(item)">Delete</ion-button>
      <div *ngIf="!item.metaData">
        <p>{{item?.message}}</p>
        <p>{{ item?.downloadFile }}</p>
      </div>
      <!-- <pre>{{item | json}}</pre> -->
    </ion-item>
    <div *ngIf="items.length === 0">Kein Suchresultat</div>
  </ion-list>
</ion-content>