<ion-card>
  <ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            Editieren
          </ion-label>
          <ion-button icon-only (click)="editItem(item)">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-label>
            Favorit
          </ion-label>
          <ion-checkbox (click)="toggleFavorite(item)" [checked]="item.Favorite === true" color="success"></ion-checkbox>
        </ion-col>
        <ion-col>
          <ion-label>
            Wichtig
          </ion-label>
          <ion-checkbox (click)="toggleImportant(item)" [checked]="item.Important === true" color="success"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-header>
  <ion-card-title>
    {{item.Name}}
  </ion-card-title>
  <ion-card-content>
    <p>
      <ion-img src="{{item.Url}}"></ion-img>
    </p>
    <p>
      {{item.Description}}
    </p>
    <p>
      {{item.Important ? "Important" : ""}}
    </p>
    <p>
      {{item.Favorite ? "Favorit" : "" }}
    </p>
    <p>
      {{item.Price}}
    </p>
    <p>
      {{item.Quantity}}
    </p>
  </ion-card-content>
</ion-card>