<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{ value.metaData.author }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="{{value.metaData.thumbnailStandardRes}}">
      </ion-thumbnail>
      <ion-label>
        {{ value.metaData.title }}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-text>
          <p>Upload: {{value.metaData.uploadDate | date:'dd.MM.yyyy'}} Duration: {{value.metaData.duration}}</p>
          <p><ion-icon name="eye"></ion-icon>: {{value.metaData.statistics.viewCount}} <ion-icon name="thumbs-up"></ion-icon>: {{value.metaData.statistics.likeCount}} <ion-icon name="thumbs-down"></ion-icon>: {{value.metaData.statistics.dislikeCount}}</p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text color="secondary-contrast" class="tinytext">
        <p [innerHTML]="value.metaData.description | linebreaker | keephtml"></p>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label class="tinytext">{{value.metaData.keywords}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>