<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Shopping</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab vertical="top" horizontal="end" edge #fab1 slot="fixed">
    <ion-fab-button ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button ion-fab (click)=addItem(fab1)>
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button ion-fab (click)=selectProduct(fab1)>
        <ion-icon name="basket"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items$ | async; trackBy: trackById">
      <ion-item [href]="'Shopping/' + item.id" class="item-gradient">
        <ion-avatar item-start>
          <img [src]="item.Url">
        </ion-avatar>
        <ion-label>
          <h2>{{item.Name}}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options side="start">
        <ion-item-option color="primary">
          <ion-icon name="checkmark"></ion-icon>
          Erledigt
        </ion-item-option>
        <ion-item-option color="secondary" (click)="toggleImportant(item)">
          <ion-icon name="alert"></ion-icon>
          Wichtig
        </ion-item-option>
        <ion-item-option color="secondary" (click)="toggleFavorite(item)">
          <ion-icon name="heart"></ion-icon>
          Favorit
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="alert" (click)="deleteItem(item)">
          <ion-icon name="trash"></ion-icon>
          Löschen
        </ion-item-option>
        <ion-item-option color="primary" (click)="editItem(item)">
          <ion-icon name="create"></ion-icon>
          Ändern
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>