<ion-header>

  <ion-toolbar>
    <ion-buttons start>
      <ion-button (click)="dismiss()">Abbrechen</ion-button>
    </ion-buttons>
    <ion-title>Todo</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="itemForm" novalidate>
    <div [hidden]="!myParam">
      <h5>Parameters passed:</h5>

      <pre style="background-color: #f8f8f8">selections: [{{param}}]</pre>

    </div>
    <div [hidden]="param">
      <p>No parameters passed.</p>
    </div>
    <ion-item>
      <ion-label color="primary">Titel</ion-label>
      <ion-input placeholder="Was" formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" fixed>Beschreibung</ion-label>
      <ion-input type="text" placeholder="Beschreibung" formControlName="comment"></ion-input>
    </ion-item>

    <ion-button ion-button color="danger" full (click)="dismiss()">Speichern</ion-button>
  </form>
</ion-content>