<ion-header>
  <ion-navbar>
    <ion-title>Youtube Audio Download</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="itemForm" novalidate>
    <ion-list>
      <ion-item>
        <ion-label color="primary" fixed>Youtube Adresse</ion-label>
        <ion-input type="tel" placeholder="Url" formControlName="url"></ion-input>
      </ion-item>
    </ion-list>
    <button ion-button color="danger" full (click)="downloadAudio()">Download</button>
  </form>
  <ion-label>
    <div>Warteschlange</div>
  </ion-label>
  <ion-list>
    <div *ngIf="queuedTracks?.queuedTracks; let items;">
      <ion-item *ngFor="let item of items">
        <h2>{{item}}</h2>
      </ion-item>
      <div *ngIf="items.length === 0">
        <div>&lt;leer&gt;</div>
      </div>
    </div>
  </ion-list>
</ion-content>