<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="auth.user$ | async as user; else logintemplate">
    <app-profile [user]="user"></app-profile>
    <ion-card>
      <ion-button color="light" (click)="auth.signOut()">Logout</ion-button>
    </ion-card>
  </ng-container>
  <ng-template #logintemplate>
    <ion-card>
      <ion-card-header>
        Anmelden
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-button color="medium" (click)="auth.anonymousLogin()">
            <ion-icon slot="start" name="glasses"></ion-icon>
            Login Anonym
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="medium" (click)="auth.googleLogin()">
            <ion-icon slot="start" name="logo-google"></ion-icon>
            Login mit Google
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="medium" (click)="auth.facebookLogin()">
            <ion-icon slot="start" name="logo-facebook"></ion-icon>
            Login mit Facebook
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="medium" (click)="auth.twitterLogin()">
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
            Login mit Twitter
          </ion-button>
        </ion-row>
        <ion-row>
          <ion-button color="medium" (click)="auth.githubLogin()">
            <ion-icon slot="start" name="logo-github"></ion-icon>
            Login mit Github
          </ion-button>
        </ion-row>
        <ion-row>
          <form (ngSubmit)="login()" #registerForm="ngForm">
            <ion-row>
              <ion-col>
                <ion-list inset>

                  <ion-item>
                    <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email"
                      required></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password"
                      required></ion-input>
                  </ion-item>

                </ion-list>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="signup-col">
                <ion-button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Anmelden</ion-button>
                <ion-button ion-button class="register-btn" block clear (click)="createAccount()">Neues Konto
                  erstellen</ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>